body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

.window {
  font-size: 8px;
  width: 25em;
  height: 35em;
  background-color: gainsboro;
  border-radius: 5em;
  box-shadow: inset 0 0 8em hsla(0, 0%, 0%, 0.2), 0 0 0 0.4em gray, 0 0 0 4em whitesmoke, 0 0 0 4.4em gray, 0 2em 4em 4em hsla(0, 0%, 0%, 0.1);
  position: relative;
  overflow: hidden;
}

.window .curtain {
  position: absolute;
  width: inherit;
  height: 30%;
  background-color: whitesmoke;
  border-radius: 5em;
  box-shadow: 0 0 0 0.4em gray, 0 0 3em hsla(0, 0%, 0%, 0.4);
  top: -20%;
  z-index: 1;
}

.window .curtain::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 0.8em;
  background-color: gray;
  border-radius: 0.4em;
  left: calc((100% - 40%) / 2);
  bottom: 1.6em;
}

.window .outside {
  width: 20em;
  height: 30em;
  background-color: deepskyblue;
  position: relative;
  left: calc((100% - 20em) / 2);
  top: calc((100% - 30em) / 2);
  border-radius: 7em;
  box-sizing: border-box;
  border: 0.4em solid gray;
  overflow: hidden;
}

.outside .cloud {
  position: absolute;
  width: 10em;
  height: 4em;
  color: white;
  background-color: currentColor;
  top: 20%;
  border-radius: 4em;
}

.outside .cloud::before,
.outside .cloud::after {
  content: '';
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: currentColor;
  border-radius: 50%;
}

.outside .cloud::before {
  top: -2em;
  left: 2em;
}

.outside .cloud::after {
  top: -1em;
  right: 1em;
}

.outside .cloud,
.outside .cloud::before,
.outside .cloud::after {
  box-shadow: 14em 6em, 6em 15em;
}