body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
}

.calendar {
  font-size: 8px;
  width: 28em;
  height: 28em;
  background-image: linear-gradient(coral 30%, white 30%);
  box-sizing: border-box;
  border: 1em solid darkslategray;
  border-radius: 2em;
  position: relative;
  transform: rotate(15deg);
}

.calendar::before {
  content: '';
  position: absolute;
  width: 3em;
  height: 4em;
  color: sandybrown;
  background-color: currentColor;
  top: -2em;
  left: 4em;
  border-radius: 100% 100% 50% 50%;
  box-shadow: 0 0 0 1em darkslategray, 15em 0, 15em 0 0 1em darkslategray;
}

.calendar::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 3em;
  color: silver;
  background-color: currentColor;
  top: 10em;
  left: 4em;
  border-radius: 0.4em;
  box-shadow: 0 0, 5em 0, 10em 0, 15em 0, 0 5em, 5em 5em, 10em 5em, 15em 5em, 0 10em, 5em 10em, 10em 10em, 15em 10em;
}